<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>{% block title%} {%endblock%}</title>
    {% include './commonfiles/link2.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="d-flex justify-content-between mb-3">
        <h2>Product List</h2>
        <button id="toggleView" class="btn btn-secondary m-2">Switch to Card View</button>
    </div>
    {%block body%}{%endblock%}
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>