<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='./styles/style1.css')}}">
    <!-- Bootstrap CSS -->
    {% include './commonfiles/link.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- <body> -->
<!-- {% include './commonfiles/header.html' %}
    <div class="row">
        <div class="col-sm-6">
            <a href="{{url_for('dashboard')}}" class="card-link">
                <div class="card">
                    <div class="card-body">
                    <img src="../static/images/frontImg.jpg" alt="Logo" class="card-logo">
                    <h5 class="card-title">Add Info</h5>
                    <p class="card-text">This feature allows you to add info of student/college/order.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="xlsxupload" class="card-link">
                <div class="card">
                    <div class="card-body">
                    <img src="../static/images/backImg.jpg" alt="Logo" class="card-logo">
                    <h5 class="card-title">Upload XlSX Data</h5>
                    <p class="card-text">This feature allows you to easily read and upload data to the database.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{{ url_for('dynamicfunc', pagename='productelec') }}" class="card-link">
                <div class="card">
                    <div class="card-body">
                    <img src="../static/images/frontImg.jpg" alt="Logo" class="card-logo">
                    <h5 class="card-title">Product Details</h5>
                    <p class="card-text">Test.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{{ url_for('dynamicfunc', pagename='orderp') }}" class="card-link">
                <div class="card">
                    <div class="card-body">
                    <img src="../static/images/frontImg.jpg" alt="Logo" class="card-logo">
                    <h5 class="card-title">order Details</h5>
                    <p class="card-text">Test.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="{{ url_for('dynamicfunc', pagename='programs offered') }}" class="card-link">
                <div class="card">
                    <div class="card-body">
                    <img src="../static/images/frontImg.jpg" alt="Logo" class="card-logo">
                    <h5 class="card-title">Product Details</h5>
                    <p class="card-text">Test.</p>
                    </div>
                </div>
            </a>
        </div>
    </div> -->



<!-- </body> -->

<body>
    <div class="main_body" id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"><i id="header-toggle" class="fas fa-bars text-white"></i> </div>
            <div class="container-fluid navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">Myapp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav mb-2 header-nav mb-lg-0">
                        <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-profile d-flex align-items-center pe-0" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../static/images/profile-img.jpg" alt="Profile" class="rounded-circle">
                                <span class="d-none d-md-block dropdown-toggle ps-2"> {{name}}</span>
                            </a>
                            <ul class="dropdown-menu profile" aria-labelledby="navbarDropdown">
                                <li class="dropdown-header">
                                    <h6>{{name}}</h6>
                                    <span>Web Developer</span>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                        <i class="bi bi-person"></i>
                                        <span>My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                        <i class="bi bi-gear"></i>
                                        <span>Account Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                        <i class="bi bi-question-circle"></i>
                                        <span>Need Help?</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="{{ url_for('logout') }}">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="#" class="nav_logo"><i class="fas fa-angry"></i> <span
                            class="nav_logo-name">Example</span>
                    </a>
                    <div class="nav_list">
                        <a href="{{url_for('dashboard')}}" class="nav_link active"> <i class="fab fa-angellist"></i>
                            <span class="nav_name">Dashboard</span> </a>
                        <a href="xlsxupload" class="nav_link"> <i class="fas fa-anchor"></i> <span
                                class="nav_name">xlsxupload</span>
                        </a>
                        <a class="nav_link  dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-award"></i> <span
                                class="nav_name">Dropdown</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>


    </div>
    <!--Container Main start-->
    <div class="height-100 bg-light">
        <h4>Content HERE</h4>
    </div>

    <!--Container Main end-->
</body>
<!-- jQuery -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

<!-- Bootstrap JS -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script> -->
<script>

    document.addEventListener("DOMContentLoaded", function (event) {

        const showNavbar = (toggleId, navId, bodyId, headerId) => {
            const toggle = document.getElementById(toggleId),
                nav = document.getElementById(navId),
                bodypd = document.getElementById(bodyId),
                headerpd = document.getElementById(headerId)
            bodycls = document.getElementsByTagName('body')[0]

            if (toggle && nav && bodypd && headerpd) {
                toggle.addEventListener('click', () => {
                    nav.classList.toggle('show')
                    toggle.classList.toggle('bx-x')
                    bodypd.classList.toggle('body-pd')
                    headerpd.classList.toggle('body-pd')
                    bodycls.classList.toggle('body-pd')
                })
            }
        }

        showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

        const linkColor = document.querySelectorAll('.nav_link')

        function colorLink() {
            if (linkColor) {
                linkColor.forEach(l => l.classList.remove('active'))
                this.classList.add('active')
            }
        }
        linkColor.forEach(l => l.addEventListener('click', colorLink))

    });
</script>

</html>